/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

:root {
  --bar-bg-color: #000
}

[data-theme="dark"] {
  --bar-bg-color: #fff
}

#nprogress .bar {
  background: var(--bar-bg-color);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--bar-bg-color), 0 0 5px var(--bar-bg-color);
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
